.btn-success {
        background-color:#00AC08 !important;
        border: 1px solid #00AC08 !important;
        float: none;
        min-width: 390px;
        font-size: 20px;
        letter-spacing: 1px;
        border-radius: 0;
        text-shadow: none;
        background-image:none;
}

.payment_form-mh > .pull-left {
        float:none;
        display:inline-block;
}

#security-code {
        display:inline-block;
        float:none;
        margin-left: 20px;
}

.payment-input {
        border-radius: 0 !important;
}

.payment-input.card-holder {
        max-width: 400px;
}

.payment-input.card-number {
        max-width: 400px;
}
